.calendarBox {
  background-color: white;
  padding: 30px;
}

@media (max-width: 500px) {
  .calendarBox {
    padding: 5px;
  }
}

.toast-box {
  position: fixed;
  height: 150px;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}

.toast-box-body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.buttonInfoMargin {
  margin: 0 auto;
  width: 184px;
}

.modal-title {
  font-size: 25px;
}

.no-outline {
  outline: none;
}

.separator {
  height: 1px;
  background-color: #007bff33;
}

.form-box {
  border: 0.5px solid #dee2e6;
}

.label {
  font-size: 18px;
  color: #007bff;
}

.info {
  font-size: 16px;
}

.doneIcon {
  font-size: 200px;
}

.doneText {
  font-size: 30px;
}

.reloadCalendarLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
