.calendarBox {
    background-color: white;
    padding: 30px;
}

@media (max-width: 500px) {
    .calendarBox {
        padding: 5px;
    }
}

.modal-title {
    font-size: 25px;
}

.no-outline {
    outline: none;
}

.separator {
    height: 1px;
    background-color: #007bff33;
}

.form-box {
    border: 0.5px solid #dee2e6;
}

.label {
    font-size: 18px;
    color: #007bff;
}

.info {
    font-size: 16px;
}

.doneIcon {
    font-size: 200px;
}

.doneText {
    font-size: 30px;
}