<div *ngIf="show" class="mb-5">
  <div
    class="menu shadow p-3 bg-white rounded d-flex justify-content-between align-items-center"
  >
    <div class="d-flex align-items-center">
      <div class="mr-4 info title-info">
        <span *ngIf="user.name; else loading"
          >Hola, <b>{{ user?.name }}</b></span
        >
      </div>
      <div class="d-flex" *ngIf="!isMobile && user.name">
        <div
          *ngIf="user.role === 'user'"
          class="title-link mr-3"
          [routerLink]="['home']"
          routerLinkActive="active"
        >
          Calendario
        </div>
        <div
          *ngIf="user.role === 'physio'"
          class="title-link mr-3"
          [routerLink]="['appointments']"
          routerLinkActive="active"
        >
          Mis citas
        </div>
        <div
          class="title-link mr-3"
          [routerLink]="['profile']"
          routerLinkActive="active"
        >
          Tu perfil
        </div>
        <div
          class="title-link mr-3"
          [routerLink]="['faqs']"
          routerLinkActive="active"
        >
          Preguntas frecuentes
        </div>
      </div>
    </div>
    <button
      *ngIf="!loadingLogOut && !isMobile"
      href="#"
      class="btn btn-primary"
      (click)="logOut()"
    >
      Cerrar sesión
    </button>
    <div *ngIf="isMobile" (click)="toggleMenu()">
      <i class="menuIcon material-icons">{{
        showMenuMobile ? "menu_open" : "menu"
      }}</i>
    </div>
    <div
      *ngIf="showMenuMobile"
      class="mobile-menu shadow rounded d-flex flex-column p-2 justify-content-around"
    >
      <div
        *ngIf="user.role === 'user'"
        class="title-link mr-3"
        [routerLink]="['home']"
        routerLinkActive="active"
        (click)="toggleMenu()"
      >
        Calendario
      </div>
      <div
        *ngIf="user.role === 'physio'"
        class="title-link mr-3"
        [routerLink]="['appointments']"
        routerLinkActive="active"
        (click)="toggleMenu()"
      >
        Mis citas
      </div>
      <div
        class="title-link mr-3"
        [routerLink]="['profile']"
        routerLinkActive="active"
        (click)="toggleMenu()"
      >
        Tu perfil
      </div>
      <div
        class="title-link mr-3"
        [routerLink]="['faqs']"
        routerLinkActive="active"
        (click)="toggleMenu()"
      >
        Preguntas frecuentes
      </div>
      <button
        *ngIf="!loadingLogOut"
        href="#"
        class="btn btn-primary"
        (click)="logOut()"
      >
        Cerrar sesión
      </button>
    </div>
  </div>
  <div *ngIf="user.role === 'user'" class="mt-5 info d-flex align-items-center">
    <span>Tu fisioterapeuta actual es: </span>
    <span class="ml-2"
      ><b *ngIf="userPhysio; else loadingInText">{{ userPhysio }}</b></span
    >
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="text-primary spinner-border" role="status">
      <span class="sr-only">Cargando ...</span>
    </div>
  </div>
</ng-template>

<ng-template #loadingInText>
  <div class="text-primary spinner-border" role="status">
    <span class="sr-only">Cargando ...</span>
  </div>
</ng-template>
