.menu {
    position: relative;
}

.info {
    font-size: 20px;
    color: #007bff;
}

.title-info {
    padding: 10px;
    padding-right: 30px;
    border-right: 2px solid;
}

.title-link {
    font-size: 18px;
    color: #41484e;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

.title-link:hover {
    color: #007bff;
}

.active {
    color: #007bff;
}

.menuIcon {
    font-size: 40px;
    color: #212529a8;
}

.mobile-menu {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    top: 80px;
    right: 0;
    z-index: 100;
}