.info {
    font-size: 20px;
    color: #007bff;
}

.title-info {
    padding: 10px;
    padding-right: 30px;
    border-right: 2px solid;
}

.title-link {
    font-size: 18px;
    color: #41484e;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

.title-link:hover {
    color: #007bff;
}

.active {
    color: #007bff;
}