<div *ngIf="loading">
  <div class="d-flex justify-content-center mt-4">
    <div
      class="text-primary spinner-border"
      style="width: 4rem; height: 4rem"
      role="status"
    >
      <span class="sr-only">Cargando ...</span>
    </div>
  </div>
</div>

<div class="mt-3 mb-3 p-2 box shadow rounded">
  <div class="row align-items-center h-100 w-100 m-0">
    <div
      class="filter-row col-12 col-lg-5 col-xl-3 p-2 d-flex align-items-center"
    >
      <div class="filter-separator mr-3"></div>
      <div class="mr-2">Búsqueda por nombre</div>
      <div>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="busquedaNombre"
        />
      </div>
    </div>
    <div
      class="filter-row col-12 col-lg-4 col-xl-3 p-2 d-flex align-items-center"
    >
      <div class="filter-separator mr-3"></div>
      <div class="mr-2">Búsqueda por tipo</div>
      <div>
        <select
          class="form-control"
          id="busquedaTipoSelect"
          [(ngModel)]="busquedaTipo"
        >
          <option *ngFor="let type of types" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
    <div
      class="filter-row col-9 col-md-6 col-lg-5 col-xl-4 p-2 d-flex align-items-center"
    >
      <div class="filter-separator mr-3"></div>
      <div class="mr-2">Búsqueda por día</div>
      <div class="input-group">
        <input
          class="form-control bg-white"
          name="busquedaDia"
          [(ngModel)]="busquedaDia"
          readonly
          ngbDatepicker
          #dB="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary date-button"
            (click)="dB.toggle()"
            type="button"
          >
            <span class="material-icons date-button-icon"> date_range </span>
          </button>
        </div>
      </div>
    </div>
    <div class="filter-row col-12 col-xl-2 p-2 d-flex align-items-center">
      <div class="d-flex justify-content-end w-100">
        <div class="mr-2">
          <button
            class="btn btn-info filter-button"
            (click)="getAppointmentsFilter()"
            (keyup.enter)="getAppointmentsFilter()"
          >
            <span class="material-icons filter-button-icon"> filter_alt </span>
          </button>
        </div>
        <div>
          <button
            class="btn btn-outline-danger filter-button"
            (click)="resetAppointments()"
          >
            <span class="material-icons filter-button-icon"> clear </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && (!myAppointments || myAppointments?.length === 0)">
  <div class="appointments-not-found text-center mt-5">
    Lo sentimos, no se han encontrado citas previstas
  </div>
</div>

<div
  *ngIf="!loading && !isMobile && myAppointments?.length > 0"
  class="box shadow rounded"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nif</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Hora fin</th>
        <th scope="col">Tipo</th>
        <th scope="col">Terapia</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of myAppointments; index as i">
        <th scope="row">{{ appointment.id }}</th>
        <td>
          {{ appointment.userNif }}
        </td>
        <td>
          {{ appointment.userName }}
        </td>
        <td>{{ appointment.beginDate | date: "shortDate" }}</td>
        <td>{{ appointment.beginDate | date: "shortTime" }}</td>
        <td>{{ appointment.endDate | date: "shortTime" }}</td>
        <td>{{ appointment.type }}</td>
        <td>{{ appointment.therapy }}</td>
        <td>
          <div class="appointment-description">{{ appointment.pain }}</div>
        </td>
        <td>
          <div class="row pr-2">
            <div class="col-12 col-lg-6">
              <button
                class="btn btn-block btn-primary btn-sm"
                (click)="editAppointment(i)"
              >
                Editar
              </button>
            </div>
            <div class="col-12 col-lg-6">
              <button
                class="btn btn-block btn-danger btn-sm"
                (click)="deleteAppointment(i)"
              >
                Eliminar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!loading && isMobile && myAppointments?.length > 0">
  <div
    *ngFor="let appointment of myAppointments; index as i"
    class="appointmentMobileBox mb-3"
  >
    <div class="appointmentText">
      <span class="appointmentLabel">Nif:</span> {{ appointment.userNif }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Nombre:</span> {{ appointment.userName }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Fecha:</span>
      {{ appointment.beginDate | date: "shortDate" }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Hora inicio:</span>
      {{ appointment.beginDate | date: "shortTime" }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Hora fin:</span>
      {{ appointment.endDate | date: "shortTime" }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Tipo:</span> {{ appointment.type }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Terapia:</span> {{ appointment.therapy }}
    </div>
    <div class="appointmentText">
      <span class="appointmentLabel">Descripción: </span>
      <div class="d-inline appointment-description">{{ appointment.pain }}</div>
    </div>
    <div class="mt-3">
      <div class="row justify-content-between">
        <div class="col-6">
          <button
            class="btn btn-block btn-primary"
            (click)="editAppointment(i)"
          >
            Editar
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-block btn-danger"
            (click)="deleteAppointment(i)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!loading && myAppointments?.length > 0 && collectionSize > pageSize"
  class="mt-4 justify-content-center d-flex"
>
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshAppointments()"
  >
  </ngb-pagination>
</div>

<ng-template #appointmentModal let-appointmentModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar cita</h4>
    <button
      type="button"
      class="close no-outline"
      aria-label="Close"
      (click)="appointmentModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="loading">
      <div class="d-flex justify-content-center mt-4">
        <div
          class="text-primary spinner-border"
          style="width: 16rem; height: 16rem"
          role="status"
        >
          <span class="sr-only">Cargando ...</span>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && !sentAppointment">
      <div class="m-3 justify-content-center">
        <div class="label mb-2">Fecha de la cita</div>
        <div class="info">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control bg-white"
                  placeholder="dd-mm-yyyy"
                  name="dpB"
                  [(ngModel)]="date"
                  [minDate]="minDateNgb"
                  [maxDate]="maxDateNgb"
                  [markDisabled]="isDisabled"
                  readonly
                  ngbDatepicker
                  #dB="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-primary date-button"
                    (click)="dB.toggle()"
                    type="button"
                  >
                    <span class="material-icons date-button-icon">
                      date_range
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="separator mt-4 mb-4 w-100"></div>
      <div class="row mt-4 m-2">
        <div class="p-0 col-12 col-md-5 m-2">
          <div class="label mb-2">Hora inicio cita</div>
          <div class="info">
            <ngb-timepicker
              [(ngModel)]="beginTime"
              [spinners]="false"
            ></ngb-timepicker>
          </div>
        </div>
        <div class="p-0 col-12 col-md-5 m-2">
          <div class="label mb-2">Hora fin cita</div>
          <div class="info">
            <ngb-timepicker
              [(ngModel)]="endTime"
              [spinners]="false"
            ></ngb-timepicker>
          </div>
        </div>
      </div>
      <div *ngIf="error.flag" class="m-3">
        <ngb-alert type="danger" (closed)="closeAlert()">{{
          error.msg
        }}</ngb-alert>
      </div>
    </div>
    <div *ngIf="sentAppointment">
      <div class="w-100 text-center pt-5 pb-5">
        <fa-icon class="doneIcon text-success" [icon]="faCheckCircle"></fa-icon>
        <div class="doneText text-muted mt-5">
          ¡Cita confirmada correctamente!
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="!sentAppointment"
      type="button"
      class="btn btn-outline-primary"
      (click)="handleEdit()"
    >
      Confirmar
    </button>
    <button
      *ngIf="sentAppointment"
      type="button"
      class="btn btn-outline-primary"
      (click)="appointmentModal.close()"
    >
      Confirmar
    </button>
  </div>
</ng-template>

<ng-template #deleteAppointmentModal let-deleteAppointmentModal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar cita</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="deleteAppointmentModal.dismiss(false)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="info">¿Desea eliminar esta cita?</div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteAppointmentModal.dismiss(true)"
    >
      Eliminar
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="deleteAppointmentModal.dismiss(false)"
    >
      Cerrar
    </button>
  </div>
</ng-template>
