.appointments-not-found {
  font-size: 24px;
  color: #007bff;
}

.box {
  background-color: white;
}

.filter-row {
  font-size: 15px;
  margin: 0;
}

.filter-separator {
  width: 2px;
  height: 50px;
  background-color: #007bff;
}

.filter-button {
  position: relative;
  height: 40px;
  width: 40px;
}

.filter-button-icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

.appointment-description {
  max-width: 200px;
  word-wrap: break-word;
}

.appointmentMobileBox {
  background-color: white;
  padding: 16px;
  font-size: 15px;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.appointmentLabel {
  font-weight: 500;
}

.appointmentText {
  font-weight: 300;
  margin-bottom: 0.75px;
}

.modal-title {
  font-size: 25px;
}

.no-outline {
  outline: none;
}

.separator {
  height: 1px;
  background-color: #007bff33;
}

.form-box {
  border: 0.5px solid #dee2e6;
}

.label {
  font-size: 18px;
  color: #007bff;
}

.info {
  font-size: 16px;
}

.doneIcon {
  font-size: 200px;
}

.doneText {
  font-size: 30px;
}

.date-button {
  width: 40px;
}

.date-button-icon {
  position: absolute;
  top: 5px;
  left: 7px;
}

.error {
  color: rgb(223, 7, 7);
}
